@using Microsoft.Owin;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using System.Linq;
@using System.Configuration;
@using System.Data.SqlClient;
@using System.Globalization;
@{

    var username = "";
    var userRole = "";
    var organisation = "";
    var userEmail = "";
    var packageId = 0;
    var organisationLogo = "";
    var companies = new List<string>();

    NumberFormatInfo cZA = new CultureInfo("en-ZA", false).NumberFormat;
    cZA.CurrencyPositivePattern = 2;

    Dictionary<string, List<string>> pf = new Dictionary<string, List<string>>();
    List<string> standardFeatures = new List<string>();
    List<string> premiumFeatures = new List<string>();
    decimal standardPrice = 0;
    decimal premiumPrice = 0;

    string userId = IdentityExtensions.GetUserId(User.Identity);
    if (userId == "" || userId == null)
    {
        Response.Redirect("~/Account/Login");
    }
    else
    {

        try
        {
            ApplicationUserManager userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
            var user = string.IsNullOrEmpty(userId) ? null : userManager.FindByIdAsync(userId).Result ?? null;
            userEmail = user.Email;
            var organisationClaim = userManager.GetClaims(userId).First(x => x.Type == "Organisation");
            organisation = organisationClaim.Value;
            var usernameClaim = userManager.GetClaims(userId).First(x => x.Type == "Username");
            username = usernameClaim.Value;
            userRole = userManager.GetRoles(userId).First();

            var identityConn = new SqlConnection(ConfigurationManager.ConnectionStrings["IdentityDbContext"].ToString());
            identityConn.Open();
            var identityCmd = identityConn.CreateCommand();
            identityCmd.CommandText = string.Format("SELECT p.[Id], p.[PackageName], p.[PackagePrice], pf.[FeatureDescription] from [{0}].[dbo].[Packages] p JOIN [{0}].[dbo].[PackageFeatures] pf on pf.[PackageId] = p.[Id] WHERE p.[SoftwareId] = 1 AND p.[PackageName] <> 'Free'", identityConn.Database);

            using (var identityReader = identityCmd.ExecuteReader())
            {
                while (identityReader.Read())
                {
                    if (identityReader.GetString(1) == "Standard")
                    {
                        standardFeatures.Add(identityReader.GetString(3));
                        standardPrice = identityReader.GetDecimal(2);
                    }
                    else if (identityReader.GetString(1) == "Premium")
                    {
                        premiumFeatures.Add(identityReader.GetString(3));
                        premiumPrice = identityReader.GetDecimal(2);
                    }
                }

                identityReader.Close();

            }

            //Company package

            var identityPackageCmd = identityConn.CreateCommand();
            identityPackageCmd.CommandText = string.Format("SELECT os.[PackageId], o.[OrganisationLogo] from [{0}].[dbo].[Organisations] o JOIN [{0}].[dbo].[OrganisationSoftwares] os on os.[OrganisationId] = o.[OrganisationId] AND os.[SoftwareId] = 1 WHERE o.[OrganisationName] = '{1}'", identityConn.Database, organisation);
            var identityPackageReader = identityPackageCmd.ExecuteReader();

            if (identityPackageReader.Read()) {
                packageId = identityPackageReader.GetInt32(0);
                organisationLogo = identityPackageReader.GetString(1);
            }

            //Companies 
            var companiesCmd = identityConn.CreateCommand();
            companiesCmd.CommandText = string.Format("SELECT OrganisationId, OrganisationName from [{0}].[dbo].[Organisations] WHERE UserId = '{1}'", identityConn.Database, userId);
            var companiesReader = companiesCmd.ExecuteReader();


            while (companiesReader.Read())
            {
                companies.Add(companiesReader.GetString(1));
            }

            companiesReader.Close();
        }
        catch (Exception Ex)
        {
            Response.Redirect("~/Account/Login");
        }
    }


}
<!DOCTYPE html>
<html class="perfect-scrollbar-on">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafriSoft - @ViewBag.Title</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- pace-progress -->
    @*<link rel="stylesheet" href="../../plugins/pace-progress/themes/black/pace-theme-flat-top.css">*@

    <!-- icheck -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />

    <!-- Theme style -->
    <link href="~/creativetim/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.min.css">
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <!-- Toastr -->
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link href="~/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" />
    <!-- Open Street Map Stylesheet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <!-- Drag & Drop file upload -->
    <link href="~/Backload/Client/blueimp/fileupload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Backload/Client/blueimp/fileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <!-- Safri Custom Styles -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Template Main CSS File-->
    <link href="../../assets/css/style.css" rel="stylesheet">

</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    <input id="packageId" hidden value="@packageId"/>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-light bg-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars text-info"></i></a>
                </li>
                <li class="nav-item mr-1">
                    @if (packageId == 1)
                    {
                        <button class="btn btn-outline-success"><i class="fas fa-crown"></i> SafriSoft - Free</button>
                    }
                    else if (packageId == 2)
                    {
                        <button class="btn btn-outline-warning"><i class="fas fa-crown"></i> SafriSoft - Standard</button>
                    }
                    else if (packageId == 3)
                    {
                        <button class="btn btn-outline-dark"><i class="fas fa-crown text-warning"></i> SafriSoft - Business</button>
                    }
                </li>
                @*<li class="nav-item">
                    <button class="btn btn-info" style="border-radius:50px;"><i class="fas fa-plus text-white"></i></button>
                </li>*@
            </ul>
            <ul class="navbar-nav ml-auto">
                @*<li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                        <i class="fa fa-bell text-info"></i>
                        <span class="badge badge-danger navbar-badge" data-bind="text: NumberOfNotifications"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">Notifications</span>
                        <div class="dropdown-divider"></div>
                        <div data-bind="foreach: notifications">
                            <a class="dropdown-item" href="#">
                                <div class="media">
                                    <span class="mr-3 mt-2 text-xs"><i class="fa fa-circle text-info"></i></span>
                                    <img class="img-size-50 mr-3 img-circle" alt="User Avatar" src="../dist/img/new.png">
                                    <div class="media-body">
                                        <p class="text-bold text-md text-capitalize" data-bind="text: Name"></p>
                                        <p class="" data-bind="text: Body"></p>
                                        <p class="text-sm text-gray" data-bind="text: DateCreated"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-footer" href="~/Inventory/Inbox"><i class="fas fa-comments text-info"></i> View All</a>
                    </div>
                </li>*@
                @*<li class="nav-item">
                    <select id="" class="safriSelect2 form-control" style="min-width: 300px; width: 300px; min-height: 100px;">
                        <option value="1">@organisation</option>
                        <option value="2">Add Company</option>
                    </select>
                </li>*@
                <li class="nav-item dropdown">
                    <button class="btn btn-outline-dark" data-toggle="dropdown"><i class="fas fa-building text-info"></i> @organisation.ToUpper()</button>
                    @*<a class="nav-link" data-toggle="dropdown" href="#"></a>*@
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    @foreach (var company in companies)
                    {
                        <a href="#" class="dropdown-item" onclick="switchCompany('@company')">@company.ToUpper()</a>
                    }
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item" onclick="addNewCompany()"><i class="fa fa-plus text-info"></i> Add Company</a>
                </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <img style="height:100%;border-radius:50%;" src="~/dist/img/new.png" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header"><img class="" style="height:75px;border-radius:50%;" src="~/dist/img/new.png"></span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-user mr-2 text-info"></i> @(username)
                        </a>
                        @*<div class="dropdown-divider"></div>*@
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2 text-info"></i> @(userEmail)
                        </a>
                        @*<div class="dropdown-divider"></div>*@
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2 text-info"></i> Organisation: @(organisation)
                            <p id="organisation-value" hidden>@(organisation)</p>
                        </a>
                        @*<div class="dropdown-divider"></div>*@
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-user-cog mr-2 text-info"></i> @(userRole)
                        </a>
                        <div class="dropdown-divider"></div>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item dropdown-footer"><i class="fas fa-user-lock mr-2 text-info"></i> Logout</a>
                        }
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-info bg-gradient-dark elevation-4">
            <!-- Brand Logo -->
            <a href="~/Home/Index" class="brand-link" style="text-align:center;border-bottom:none;">
                @*<img src="../../assets/img/iconOnly.png" alt="" style="height:55px;">*@
                <img src="@organisationLogo" alt="" style="height:55px;">
                @*<h2 class="brand-text text-danger">Inventory Soft.</h2>*@
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a id="Dashboard" href="~/Inventory/Index" class="nav-link">
                                <i class="nav-icon fas fa-home text-white"></i>
                                <p class="text-white">
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Customers" href="~/Inventory/Customers" class="nav-link">
                                <i class="nav-icon fas fa-user-friends text-white"></i>
                                <p class="text-white">
                                    Customers
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Suppliers" href="~/Inventory/Suppliers" class="nav-link">
                                <i class="nav-icon fas fa-pallet text-white"></i>
                                <p class="text-white">
                                    Suppliers
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Products" href="~/Inventory/Stock" class="nav-link">
                                <i class="nav-icon fas fa-boxes text-white"></i>
                                <p class="text-white">
                                    Products
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Orders" href="~/Inventory/Orders" class="nav-link">
                                <i class="nav-icon fas fa-shopping-cart text-white"></i>
                                <p class="text-white">
                                    Orders
                                </p>
                            </a>
                        </li>
                        <li id="Invoicing-Menu" class="nav-item has-treeview">
                            <a id="Invoicing" href="#" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice text-white"></i>
                                <p class="text-white">
                                    Invoicing
                                    <i class="right fas fa-angle-left  text-white"></i>
                                </p>
                            </a>
                            @if (packageId == 3)
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a id="Create" href="~/Invoicing/Create" class="nav-link">
                                            <i class="far fa-circle text-white nav-icon"></i>
                                            <p class="text-white">Create</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="Invoices" href="~/Invoicing/Invoices" class="nav-link">
                                            <i class="far fa-circle text-white nav-icon"></i>
                                            <p class="text-white">Invoices</p>
                                        </a>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a id="Create" href="#" class="nav-link">
                                            <i class="fa fa-crown text-primary text-white nav-icon"></i>
                                            <p class="text-white">Create</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="Invoices" href="#" class="nav-link">
                                            <i class="fa fa-crown text-primary text-white nav-icon"></i>
                                            <p class="text-white">Invoices</p>
                                        </a>
                                    </li>
                                </ul>
                            }

                        </li>

                        <li id="Expenses-Menu" class="nav-item">

                            @if (packageId == 3)
                            {
                                <a id="Income-Expense" href="~/Expenses/Expenses" class="nav-link">
                                    <i class="nav-icon fas fa-money-check text-white"></i>
                                    <p class="text-white">
                                        Income/Expense
                                    </p>
                                </a>
                            }
                            else
                            {
                                <a id="Income-Expense" href="#" class="nav-link">
                                    <i class="fa fa-crown text-primary nav-icon"></i>
                                    <p class="text-white">
                                        Income/Expense
                                    </p>
                                </a>
                            }

                        </li>
                        <li id="Journal-Menu" class="nav-item has-treeview">
                            <a id="Journals" href="~/Journal/Journals" class="nav-link">
                                <i class="nav-icon fas fa-balance-scale text-white"></i>
                                <p class="text-white">
                                    Journals
                                </p>
                            </a>
                        </li>
                        <li id="Accounting-Menu" class="nav-item has-treeview">
                            <a id="Accounting" href="#" class="nav-link">
                                <i class="nav-icon fas fa-coins text-white"></i>
                                <p class="text-white">
                                    Accounting
                                    <i class="right fas fa-angle-left  text-white"></i>
                                </p>
                            </a>
                            @if (packageId == 3)
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a id="GeneralLedger" href="~/Accounting/GeneralLedger" class="nav-link">
                                            <i class="far fa-circle text-white nav-icon"></i>
                                            <p class="text-white">General Ledger</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="TrialBalanceReport" href="~/Accounting/TrialBalanceReport" class="nav-link">
                                            <i class="far fa-circle text-white nav-icon"></i>
                                            <p class="text-white">Trial Balance</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="TrialBalanceAccounts" href="~/Accounting/TrialBalanceAccounts" class="nav-link">
                                            <i class="far fa-circle text-white nav-icon"></i>
                                            <p class="text-white">Trial Balance Accounts</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a id="BalanceSheetAccounts" href="~/Accounting/BalanceSheetAccounts" class="nav-link">
                                            <i class="far fa-circle text-white nav-icon"></i>
                                            <p class="text-white">Balance Sheet Accounts</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="IncomeStatementAccounts" href="~/Accounting/IncomeStatementAccounts" class="nav-link">
                                            <i class="far fa-circle text-white nav-icon"></i>
                                            <p class="text-white">Income Statement Accounts</p>
                                        </a>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a id="GeneralLedger" href="#" class="nav-link">
                                            <i class="fa fa-crown text-primary nav-icon"></i>
                                            <p class="text-white">General Ledger</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="TrialBalanceAccounts" href="#" class="nav-link">
                                            <i class="fa fa-crown text-primary nav-icon"></i>
                                            <p class="text-white">Trial Balance Accounts</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a id="TrialBalanceReport" href="#" class="nav-link">
                                            <i class="fa fa-crown text-primary nav-icon"></i>
                                            <p class="text-white">Trial Balance Report</p>
                                        </a>
                                    </li>
                                </ul>
                            }

                        </li>
                        <li class="nav-item">
                            <a id="InventoryReporting" href="~/Reporting/Inventory" class="nav-link">
                                <i class="nav-icon fas fa-file-excel text-white"></i>
                                <p class="text-white">
                                    Reports
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Settings" href="~/Setting/Settings" class="nav-link">
                                <i class="nav-icon fas fa-cog text-white"></i>
                                <p class="text-white">
                                    Settings
                                </p>
                            </a>
                        </li>
                        @if (userRole == "OrganisationAdmin")
                        {
                            <li id="menu-open" class="nav-item has-treeview">
                                <a id="main-users" href="#" class="nav-link">
                                    <i class="nav-icon fas fa-users text-white"></i>
                                    <p class="text-white">
                                        Organisation
                                        <i class="right fas fa-angle-left  text-white"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a id="Users" href="~/Inventory/User" class="nav-link">
                                            <i class="far fa-circle text-white nav-icon"></i>
                                            <p class="text-white">Manage Organisation</p>
                                        </a>
                                    </li>
                                    @*<li class="nav-item">
                                        <a id="Inbox" href="~/Inventory/Inbox" class="nav-link">
                                            <i class="fa fa-circle text-info nav-icon"></i>
                                            <p>Inbox</p>
                                        </a>
                                    </li>*@
                                </ul>
                            </li>
                        }
                        <li id="menu-open" class="nav-item has-treeview">
                            <a id="main-users" href="#" class="nav-link">
                                <i class="nav-icon fas fa-project-diagram text-white"></i>
                                <p class="text-white">
                                    Other Softwares
                                    <i class="right fas fa-angle-left  text-white"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a id="Users" href="https://rms.safrisoft.com" class="nav-link">
                                        <i class="far fa-circle text-white nav-icon"></i>
                                        <p class="text-white">Rental Management</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="Users" href="https://tms.safrisoft.com" class="nav-link">
                                        <i class="far fa-circle text-white nav-icon"></i>
                                        <p class="text-white">Ticket Management</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @if (packageId != 3)
                        {
                            <li class="nav-item">
                                <a id="Stock" href="#" onclick="changePackage()" class="nav-link bg-gradient-purple text-white">
                                    <i class="nav-icon fa fa-crown"></i>
                                    <p class="text-white">
                                        Try SafriSoft Premium
                                    </p>
                                </a>
                            </li>
                        }

                        <li hidden id="viewbag-title">
                            <p>@ViewBag.title</p>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->

        </aside>

        <!-- Modal -->
        <div class="modal fade" id="companyRegister">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="companyRegister" class="modal-title">New Company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12" style="padding: 15px !important;">
                                <input type="text" id="companyName" class="form-control mb-4" placeholder="Company Name" required />
                                <input type="email" id="companyEmail" class="form-control mb-4" placeholder="Company Email" required />
                                <input type="number" id="companyTel" class="form-control mb-4" placeholder="Company Telephone" required />
                                <input type="text" id="companyFirstlineAddress" class="form-control mb-4" placeholder="Line Address" required />
                                <input type="number" min="0" max="10000" id="companyPostalCode" class="form-control mb-4" placeholder="Postal Code" required />
                                <div class="mb-4">
                                    <select id="companyProvince" class="safriSelect2 form-control mt-5" style="min-width:100%; width:100%; min-height:100px;" onchange="provinceChange(this.value)">
                                        <option value="-100">SELECT PROVINCE</option>
                                        <option value="EasternCape">Eastern Cape</option>
                                        <option value="FreeState">Free State</option>
                                        <option value="Gauteng">Gauteng</option>
                                        <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                                        <option value="Limpopo">Limpopo</option>
                                        <option value="Mpumalanga">Mpumalanga</option>
                                        <option value="NorthernCape">Northern Cape</option>
                                        <option value="NorthWest">North West</option>
                                        <option value="WesternCape">Western Cape</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <select id="companyCity" class="safriSelect2 form-control mt-5" style="min-width:100%; width:100%; min-height:100px;">
                                        
                                    </select>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                    <div class="modal-footer justify-content-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        <button id="get-started-btn" type="button" class="btn btn-info" onclick="saveNewCompany()"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        @RenderBody()

        <aside class="control-sidebar control-sidebar-dark bg-gradient-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <a class="btn btn-info back-to-top" id="back-to-top" role="button" aria-label="Scroll to top" href="#">
            <i class="fas fa-comments"></i>
        </a>
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#"><img src="../../assets/img/iconOnly.png" alt="" style="height:30px;"></a></strong> All rights reserved.
        </footer>
        <div class="loader"></div>
        <div class="modal fade" id="change-package">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="change-package-title" class="modal-title">Upgrade Package</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">

                                    <div class="card-header card-header-warning">
                                        <h5 class="card-title"><i class="fa fa-star-half"></i> Standard</h5>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <h3 class="text-center"><strong>@string.Format(cZA, "{0:C}", standardPrice)/pm</strong></h3>
                                        <br />
                                        @foreach (var feature in standardFeatures)
                                        {
                                            <p><span class="fa fa-check text-success"></span> @feature</p>
                                        }
                                        <br />
                                        <div class="col-lg-12 text-center">
                                            <button class="btn btn-warning text-white" onclick="createSafriOrder('@userEmail', '@organisation', 'Standard')"><i class="fa fa-star-half"></i> Standard</button>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">

                                    <div class="card-header card-header-primary">
                                        <h5 class="card-title"><i class="fa fa-star"></i> Premium</h5>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <h3 class="text-center"><strong>@string.Format(cZA, "{0:C}", premiumPrice)/pm</strong></h3>
                                        <br />
                                        @foreach (var feature in premiumFeatures)
                                        {
                                            <p><span class="fa fa-check text-success"></span> @feature</p>
                                        }
                                        <br />
                                        <div class="col-lg-12 text-center">
                                            <button class="btn bg-gradient-purple" onclick="createSafriOrder('@userEmail', '@organisation', 'Premium')"><i class="fa fa-star"></i> Premium</button>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer justify-content-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="order-received-modal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="change-package-title" class="modal-title">Order Received</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">

                            <div class="card-header card-header-success">
                                <h5 class="card-title"><i class="fa fa-question-circle"></i> What's next?</h5>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <ol>
                                    <li><p>We will send you an invoice</p></li>
                                    <li><p>Please pay the invoice amount</p></li>
                                    <li><p>Send us the proof of payment</p></li>
                                    <li><p>Your new features will be unlocked ASAP</p></li>
                                </ol>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="modal-footer justify-content-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="../../plugins/jquery/jquery.min.js"></script>

        <!-- ChartJS -->
        <script src="../../plugins/chart.js/Chart.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        @*<script src="~/creativetim/js/core/popper.min.js"></script>*@
        @*<script src="~/creativetim/js/core/bootstrap-material-design.min.js"></script>*@
        <script src="~/creativetim/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        @*<script src="~/creativetim/js/material-dashboard.js"></script>*@
        <!-- DataTables -->
        <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="../../plugins/jszip/jszip.min.js"></script>
        <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
        <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
        <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <script src="~/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.min.js"></script>
        <script src="~/plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.min.js"></script>

        <!-- Toastr -->
        <script src="../../plugins/toastr/toastr.min.js"></script>
        <!-- pace-progress -->
        <script src="../../plugins/pace-progress/pace.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>
        <script src="~/Scripts/knockout-3.5.1.js"></script>

        <script src="../../plugins/summernote/summernote-bs4.min.js"></script>
        <script src="~/plugins/select2/js/select2.min.js"></script>
        <!-- Handle active tab and other layout js stuff -->
        <script>
            $('#summernote').summernote();

            $(document).ready(function () {
                $('.safriSelect2').select2();
            });

            function addNewCompany() {
                $('#companyRegister').modal('show');
            }

            var easternCape = "Alice,Butterworth,East London,Graaff-Reinet,Grahamstown,King William’s Town,Mthatha,Port Elizabeth,Queenstown,Uitenhage,Zwelitsha";
            var freeState = "Bethlehem,Bloemfontein,Jagersfontein,Kroonstad,Odendaalsrus,Parys,Phuthaditjhaba,Sasolburg,Virginia,Welkom";
            var gauteng = "Benoni,Boksburg,Brakpan,Carletonville,Germiston,Johannesburg,Krugersdorp,Pretoria,Randburg,Randfontein,Roodepoort,Soweto,Springs,Vanderbijlpark,Vereeniging";
            var kzn = "Durban,Empangeni,Ladysmith,Newcastle,Pietermaritzburg,Pinetown,Ulundi,Umlazi";
            var limpopo = "Giyani,Lebowakgomo,Musina,Phalaborwa,Polokwane,Seshego,Sibasa,Thabazimbi";
            var nw = "Klerksdorp,Mahikeng,Mmabatho,Potchefstroom,Rustenburg";
            var nc = "Kimberley,Kuruman,Port Nolloth";
            var wc = "Bellville,Cape Town,Constantia,George,Hopefield,Oudtshoorn,Paarl,Simon’s Town,Stellenbosch,Swellendam,Worcester";
            var mp = "Emalahleni,Nelspruit,Secunda";

            var listEC = easternCape.split(",");
            $('#companyCity').append('<option value="-100">SELECT CITY</option>');
            for (var i = 0; i < listEC.length; i++) {
                $('#companyCity').append('<option value="' + listEC[i] + '">' + listEC[i] + '</option>');
            }

            function provinceChange(val) {
                $('#companyCity').text('');
                $('#companyCity').append('<option value="-100">SELECT CITY</option>');
                if (val === 'EasternCape') {
                    var listEC = easternCape.split(",");

                    for (var i = 0; i < listEC.length; i++) {
                        $('#companyCity').append('<option value="' + listEC[i] + '">' + listEC[i] + '</option>');
                    }
                }
                if (val === 'FreeState') {
                    var list = freeState.split(",");

                    for (var i = 0; i < list.length; i++) {
                        $('#companyCity').append('<option value="' + list[i] + '">' + list[i] + '</option>');
                    }
                }
                if (val === 'Gauteng') {
                    var list = gauteng.split(",");

                    for (var i = 0; i < list.length; i++) {
                        $('#companyCity').append('<option value="' + list[i] + '">' + list[i] + '</option>');
                    }
                }
                if (val === 'KwaZulu-Natal') {
                    var list = kzn.split(",");

                    for (var i = 0; i < list.length; i++) {
                        $('#companyCity').append('<option value="' + list[i] + '">' + list[i] + '</option>');
                    }
                }
                if (val === 'Limpopo') {
                    var list = limpopo.split(",");

                    for (var i = 0; i < list.length; i++) {
                        $('#companyCity').append('<option value="' + list[i] + '">' + list[i] + '</option>');
                    }
                }
                if (val === 'Mpumalanga') {
                    var list = mp.split(",");

                    for (var i = 0; i < list.length; i++) {
                        $('#companyCity').append('<option value="' + list[i] + '">' + list[i] + '</option>');
                    }
                }
                if (val === 'NorthernCape') {
                    var list = nc.split(",");

                    for (var i = 0; i < list.length; i++) {
                        $('#companyCity').append('<option value="' + list[i] + '">' + list[i] + '</option>');
                    }
                }
                if (val === 'NorthWest') {
                    var list = nw.split(",");

                    for (var i = 0; i < list.length; i++) {
                        $('#companyCity').append('<option value="' + list[i] + '">' + list[i] + '</option>');
                    }
                }
                if (val === 'WesternCape') {
                    var list = wc.split(",");

                    for (var i = 0; i < list.length; i++) {
                        $('#companyCity').append('<option value="' + list[i] + '">' + list[i] + '</option>');
                    }
                }
            }

            function saveNewCompany() {
                var companyName = $('#companyName').val();
                var companyEmail = $('#companyEmail').val();
                var companyTel = $('#companyTel').val();
                var companyFirstLineAddress = $('#companyFirstLineAddress').val();
                var companyPostalCode = $('#companyPostalCode').val();
                var companyProvince = $('#companyProvince').val();
                var companyCity = $('#companyCity').val();

                if (companyName == '') {
                    toastr.error('Company name required');
                    return;
                }

                if (companyEmail == '') {
                    toastr.error('Company email required');
                    return;
                }

                if (companyTel == '') {
                    toastr.error('Company phone number required');
                    return;
                }

                if (companyFirstLineAddress == '') {
                    toastr.error('Company address required');
                    return;
                }

                if (companyPostalCode == '') {
                    toastr.error('Company postal code required required');
                    return;
                }

                if (companyProvince == '') {
                    toastr.error('Company province required');
                    return;
                }

                if (companyCity == '') {
                    toastr.error('Company city required');
                    return;
                }

                var data = {
                    CompanyName: companyName,
                    CompanyEmail: companyEmail,
                    CompanyTel: companyTel,
                    CompanyAddress: companyFirstLineAddress,
                    CompanyPostalCode: companyPostalCode,
                    CompanyProvince: companyProvince,
                    CompanyCity: companyCity
                }

                var url = '/api/Accounting/AddNewCompany';

                SafriSoftPostRequest(url, data, (response) => {

                    if (response.Success == true) {

                        toastr.success('New company added, page will refresh shortly');

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                        
                    } else {

                        toastr.error(response.Message);

                    }

                });

            }

            function switchCompany(companyName) {
                var url = `/api/Base/SwitchCompany/${companyName}`;

                SafriSoftGetRequest(url, (response) => {

                    if (response.Success == true) {

                        toastr.success(response.Message);

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);

                    } else {

                        toastr.error(response.Message);
                    }

                });
            }

            var tabActive = $("#viewbag-title").text().trim();
            $("#" + tabActive).addClass("active");
            if (tabActive != "Users" && tabActive != "Inbox") {
                $("#" + tabActive + " .nav-icon").addClass("text-white");
            }
            if (tabActive == "Users" || tabActive == "Inbox") {
                $("#main-users").addClass("active");
                $("#main-users .nav-icon").addClass("text-white");
                $("#menu-open").addClass("menu-open");
            }

            if (tabActive == "TrialBalanceAccounts" || tabActive == "GeneralLedger" || tabActive == "TrialBalanceReport" || tabActive == "BalanceSheetAccounts" || tabActive == "IncomeStatementAccounts") {
                /*$("#main-users").addClass("active");*/
                $("#" + tabActive).addClass("active");
                $("#" + tabActive + " .nav-icon").addClass("text-white");
                $("#Accounting-Menu").addClass("menu-open");
                $("#Accounting").addClass("active");
            }

            if (tabActive == "Create" || tabActive == "Invoices") {
                /*$("#main-users").addClass("active");*/
                $("#" + tabActive).addClass("active");
                $("#" + tabActive + " .nav-icon").addClass("text-white");
                $("#Invoicing-Menu").addClass("menu-open");
                $("#Invoicing").addClass("active");
            }

            function changePackage() {
                $('#change-package').modal('show');
            }

            function createSafriOrder(userEmail, userOrganisation, package) {

                var order = {
                    'UserEmail': userEmail,
                    'UserOrganisation': userOrganisation,
                    'Package': package
                };

                $.ajax({
                    url: '/api/Inventory/SafriOrderRequest',
                    method: 'POST',
                    dataType: 'json',
                    data: order,
                    contextType: "application/json",
                    traditional: true
                }).done(function (data) {
                    if (data.Success) {
                        $('#change-package').modal('hide');
                        $('#order-received-modal').modal('show');
                    } else {
                        toastr.error(data.Error);
                    }
                });
            }

        </script>
        <script src="~/plugins/i-check/i-check.js"></script>
        <script src="~/Backload/Client/blueimp/fileupload/js/vendor/jquery.ui.widget.js"></script>
        <script src="~/Backload/Client/blueimp/fileupload/js/jquery.iframe-transport.js"></script>
        <script src="~/Backload/Client/blueimp/fileupload/js/jquery.fileupload.js"></script>
        <script src="~/Scripts/app.js"></script>

        @RenderSection("Scripts", false)


        <script type="text/javascript">
            // Hide premium Buttons
            var packageId = $('#packageId').val();

            if (packageId != 2 && packageId != 3) {
                $('.dt-buttons').hide();
                $('#excel-download-lock').show();
                $('#excel-download-lock-2').show();
                $('#excel-download-lock-3').show();
                $('#excel-download-lock-4').show();
            } else {
                $('.dt-buttons').show();
                $('#excel-download-lock').hide();
                $('#excel-download-lock-2').hide();
                $('#excel-download-lock-3').hide();
                $('#excel-download-lock-4').hide();
            }



                                            //$(".buttons-csv").addClass("btn-outline-info");
                                            //$(".buttons-csv").removeClass("btn-secondary");
                                            //$(".buttons-excel").addClass("btn-outline-info");
                                            //$(".buttons-excel").removeClass("btn-secondary");

        </script>
    </div>
</body>
</html>
