@model SafriSoftv1._3.Models.SupplierViewModel

@{
    ViewBag.Title = "Suppliers";
}

<style>
    .buttonWidth {
        width: 100px;
    }

    .filenameWidth{
        width: 300px;
    }

</style>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">


                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><i class="fas fa-pallet"></i> Suppliers</h4>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <span class="text-right mr-1"><button id="addSupplier" onclick="openAddSupplierModal()" class="btn btn-light" style="text-align:right !important;"><i class="fas fa-pallet text-info"></i> Add Supplier</button></span>
                        </div>
                        <div class="card-body">

                            <table id="suppliersDt" class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Trading As</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>City</th>
                                        <th>Country</th>
                                        <th>C Person Name</th>
                                        <th>C Person Position</th>
                                        <th>C Person Phone</th>
                                        <th>C Person Email</th>
                                        <th>Product</th>
                                        <th>Balance</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- Modal -->
<div class="modal fade" id="addSuppliersModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supplierModalTitle">@*<i class="fa fa-plus"></i>*@Add Supplier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Company Name</label>
                                <input id="companyName" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Trading As </label>
                                <input id="tradingAs" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Phone</label>
                                <input id="phone" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Email</label>
                                <input id="email" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Street</label>
                                <input id="street" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Surburb</label>
                                <input id="surburb" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">City</label>
                                <input id="city" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Country</label>
                                <input id="country" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Postal Code</label>
                                <input id="postalCode" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Contact Person Name</label>
                                <input id="contactPersonName" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Contact Person Position</label>
                                <input id="contactPersonPosition" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Contact Person Phone</label>
                                <input id="contactPersonPhone" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Contact Person Email</label>
                                <input id="contactPersonEmail" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating"></label>
                                <select id="selectedOption" class="safriSelect2 form-control" style="max-width:100%;width:100%; min-height:100px;"></select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-light" onclick="addSupplier()"><i class="fas fa-pallet text-info"></i> <span id="supplierModalBtn">Add</span></button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="supplierInvoices">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="" class="modal-title">@*<i class="fa fa-plus"></i>*@Supplier Invoices</h5>
                <input type="text" id="tenant-id" hidden />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><i class="fa fa-paste"></i> Add Invoice</h4>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Date</label>
                                    <input id="date" class="form-control" type="date">
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Description</label>
                                    <input id="description" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">QTY</label>
                                    <input id="qty" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Vat Amount</label>
                                    <input id="vatAmount" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Invoice Amount (Excl VAT)</label>
                                    <input id="amount" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating"></label>
                                    <select id="selectedVatAccount" class="safriSelect2 form-control" style="width:100%;min-width:100%; min-height:100px;">
                                        <option value="-100">SELECT VAT ACCOUNT</option>
                                        @foreach (var account in Model.TrialBalanceAccounts)
                                        {
                                            <option value="@account.Id">@account.AccountNumber - @account.AccountName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating"></label>
                                    <select id="selectedInvoiceAccount" class="safriSelect2 form-control" style="width: 100%;min-width: 100%; min-height: 100px;">
                                        <option value="-100">SELECT INVOICE ACCOUNT</option>
                                        @foreach (var account in Model.TrialBalanceAccounts)
                                        {
                                            <option value="@account.Id">@account.AccountNumber - @account.AccountName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            @*<div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating"></label>
                                    <select id="selectedCreditorsAccount" class="safriSelect2 form-control" style="width: 100%;min-width: 100%; min-height: 100px;">
                                        <option value="-100">SELECT CREDITORS ACCOUNT</option>
                                        @foreach (var account in Model.TrialBalanceAccounts)
                                        {
                                            <option value="@account.Id">@account.AccountNumber - @account.AccountName</option>
                                        }
                                    </select>
                                </div>
                            </div>*@
                        </div>
                        <div id="dropzone" class="fade">
                            <h3 style="color: #17a2b8;">Drag & Drop File</h3>
                        </div>
                        @*<div id="dropzone-upgrade">
                                <h5><i class="fa fa-lock"></i> Import Documents - Upgrade Package</h5>
                            </div>*@
                    </div>
                    <div class="card-body">
                        <table id="supplierInvoicesDt" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Filename</th>
                                    <th>Qty</th>
                                    <th>VatAmount</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="paySupplierModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="" class="modal-title">@*<i class="fa fa-plus"></i>*@Pay Supplier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><i class="fa fa-paste"></i> Pay Supplier</h4>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Date</label>
                                    <input id="paymentDate" class="form-control" type="date">
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Description</label>
                                    <input id="paymentDescription" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Amount</label>
                                    <input id="paymentAmount" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating"></label>
                                    <select id="selectedPaymentInvoice" class="safriSelect2 form-control" style="width:100%;min-width:100%; min-height:100px;">
                                        <option value="-100">SELECT INVOICE</option>
                                        @foreach (var invoice in Model.SuppliersInvoices)
                                        {
                                            <option value="@invoice.Id">@invoice.InvoiceDate.GetValueOrDefault().ToString("dd-MM-yyy") - @invoice.Description</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating"></label>
                                    <select id="selectedPaymentAccount" class="safriSelect2 form-control" style="width:100%;min-width:100%; min-height:100px;">
                                        <option value="-100">SELECT ACCOUNT</option>
                                        @foreach (var account in Model.TrialBalanceAccounts)
                                        {
                                            <option value="@account.Id">@account.AccountNumber - @account.AccountName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-light" onclick="paySupplier()">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



@section scripts{

    <script type="text/javascript">

        var suppliersDt = $("#suppliersDt").DataTable({
            responsive: true,
            autoWidth: false,
            info: true,
            dom: '<"bottom row"<"center-col col-md-6"B><"right-col col-md-6"f>>rtip',
            buttons: [{ extend: 'csv', exportOptions: { orthogonal: { display: ':null' } } }, { extend: 'excel', exportOptions: { orthogonal: { display: ':null' } } }],
            lengthMenu: [[-1], ["All"]],
            ajax: {
                url: '/api/Inventory/GetSuppliers/',
                method: 'GET',
                "dataSrc": "obj"
            },
            columns: [
                {
                    data: 'CompanyName',
                    searchable: true
                },
                {
                    data: 'TradingAs',
                    searchable: true
                },
                {
                    data: 'Phone',
                    searchable: true
                },
                {
                    data: 'Email',
                    searchable: true,
                },
                {
                    data: 'City',
                    searchable: true,
                },
                {
                    data: 'Country',
                    searchable: true,
                },
                {
                    data: 'ContactPersonName',
                    searchable: true,
                },
                {
                    data: 'ContactPersonPosition',
                    searchable: true,
                },
                {
                    data: 'ContactPersonPhone',
                    searchable: true,
                },
                {
                    data: 'ContactPersonEmail',
                    searchable: true,
                },
                {
                    data: 'ProductName',
                    searchable: true,
                },
                {
                    'data': 'Balance',
                    'searchable': true,
                    'className': 'text-right',
                    'render': function (data, type, full, meta) {

                        if (type === 'display')
                            return '<a href="#">' + new Intl.NumberFormat('en-ZA', { style: 'currency', currency: 'ZAR' }).format(data) + '</a>';
                        else
                            return data;
                    }
                },
                {
                    data: 'Id',
                    searchable: true,
                    className: 'buttonWidth',
                    render: function (data, type, full, meta) {
                        return '<td class="text-right py-0 align-middle"> <div class="btn-group btn-group-sm"> <a id="' + data + '" class="btn btn-light" href="#" onclick="getSupplierDetails(this.id)"><i class="fas fa-folder-open text-info"></i></a><a id="' + data + '" class="btn btn-light" href="#" onclick="uploadSupplierInvoices(this.id,' + full.Id + ')"><i class="fa fa-file-invoice text-info"></i></a><a id="' + data + '" class="btn btn-light" href="#" onclick="paySupplierModal(' + full.Id + ')"><i class="fa fa-coins text-info"></i></a> </div> </td>'
                    }
                }
            ]
        });

        loadProducts();

        function loadProducts() {

            var url = "/api/Inventory/GetProducts";

            SafriSoftGetRequest(url, (response) => {
                if (response.length > 0) {
                    $("#selectedOption").append('<option value="-100">Select Product</option>');

                    for (var i = 0; i < response.length; i++) {
                        $("#selectedOption").append(`<option value="${response[i].Id}">${response[i].ProductName}</option>`);
                    }
                }
            });
        }

        var _supplierId = 0;

        function openAddSupplierModal() {
            _supplierId = 0;

            resetSupplierDetailsModal();

            $("#supplierModalTitle").text('Add Supplier');
            $("#supplierModalBtn").text('Add');

            $("#addSuppliersModal").modal('show');
        }

        function addSupplier() {
            var companyName = $('#companyName').val();
            var tradingAs = $('#tradingAs').val();
            var phone = $('#phone').val();
            var email = $('#email').val();
            var street = $('#street').val();
            var surburb = $('#surburb').val();
            var city = $('#city').val();
            var country = $('#country').val();
            var postalCode = $('#postalCode').val();
            var contactPersonName = $('#contactPersonName').val();
            var contactPersonPosition = $('#contactPersonPosition').val();
            var contactPersonPhone = $('#contactPersonPhone').val();
            var contactPersonEmail = $('#contactPersonEmail').val();
            var productId = $("#selectedOption").val();

            if (companyName === '') {
                toastr.error('Company Name cannot be empty');
                return;
            }

            if (email === '') {
                toastr.error('Email cannot be empty');
                return;
            }

            var data = {
                Id: _supplierId,
                CompanyName: companyName,
                TradingAs: tradingAs,
                Phone: phone,
                Email: email,
                Street: street,
                Surburb: surburb,
                City: city,
                Country: country,
                PostalCode: postalCode,
                ContactPersonName: contactPersonName,
                ContactPersonEmail: contactPersonEmail,
                ContactPersonPosition: contactPersonPosition,
                ContactPersonPhone: contactPersonPhone,
                ProductId: productId
            }

            var vm = {
                Supplier: data
            }

            var url = "/api/Inventory/SaveSupplierDetails";

            if (_supplierId > 0) {
                url = "/api/Inventory/UpdateSupplierDetails";
            }

            SafriSoftPostJsonRequest(url, vm, (response) => {

                if (response.Success == true) {
                    $("#addSuppliersModal").modal('hide');
                    toastr.success(response.Message);
                } else {
                    toastr.error(response.Message);
                }

                suppliersDt.ajax.reload();
            });


        }

        function getSupplierDetails(id) {

            var url = "/api/Inventory/GetSupplier/" + id;

            SafriSoftGetRequest(url, (response) => {
                _supplierId = response.obj.Id;
                $('#companyName').val(response.obj.CompanyName);
                $('#tradingAs').val(response.obj.TradingAs);
                $('#phone').val(response.obj.Phone);
                $('#email').val(response.obj.Email);
                $('#street').val(response.obj.Street);
                $('#surburb').val(response.obj.Surburb);
                $('#city').val(response.obj.City);
                $('#country').val(response.obj.Country);
                $('#postalCode').val(response.obj.PostalCode);
                $('#contactPersonName').val(response.obj.ContactPersonName);
                $('#contactPersonPosition').val(response.obj.ContactPersonPosition);
                $('#contactPersonPhone').val(response.obj.ContactPersonPhone);
                $('#contactPersonEmail').val(response.obj.ContactPersonEmail);
                $("#selectedOption").val(response.obj.ProductId);
                $("#selectedOption").trigger("change");
            });

            $("#supplierModalTitle").text('Update Supplier');
            $("#supplierModalBtn").text('Update');

            $("#addSuppliersModal").modal('show');
        }

        function resetSupplierDetailsModal() {
            $('#companyName').val('');
            $('#tradingAs').val('');
            $('#phone').val('');
            $('#email').val('');
            $('#street').val('');
            $('#surburb').val('');
            $('#city').val('');
            $('#country').val('');
            $('#postalCode').val('');
            $('#contactPersonName').val('');
            $('#contactPersonPosition').val('');
            $('#contactPersonPhone').val('');
            $('#contactPersonEmail').val('');
            $("#selectedOption").val(-100);
            $("#selectedOption").trigger("change");
        }

        function uploadSupplierInvoices(id) {
            supplierInvoicesDt.ajax.url('/api/Inventory/GetSupplierInvoices/' + id).load();
            $('#supplierInvoices').modal('show');

            $('#dropzone').fileupload({
                dropZone: $('#dropzone'),
                dataType: "application/json",
                url: '/api/Inventory/UploadSupplierInvoices/' + id,
                autoUpload: false,
                beforeSend: function (request) {

                    var date = $("#date").val();
                    var description = $("#description").val();
                    var qty = $("#qty").val();
                    var vatAmount = $("#vatAmount").val();
                    var amount = $("#amount").val();
                    var vatAccountId = $("#selectedVatAccount").val();
                    var invoiceAccountId = $("#selectedInvoiceAccount").val();

                    request.setRequestHeader("safrisoft", date.replaceAll('-', '|'));
                    request.setRequestHeader("description", description);
                    request.setRequestHeader("qty", qty);
                    request.setRequestHeader("vatAmount", vatAmount);
                    request.setRequestHeader("amount", amount);
                    request.setRequestHeader("vatAccountId", vatAccountId);
                    request.setRequestHeader("invoiceAccountId", invoiceAccountId);
                }
            }).on('fileuploadadd', function (e, data) {

                var dropZone = $('#dropzone');
                dropZone.removeClass('hover');

                var error = false;

                var date = $("#date").val();
                var description = $("#description").val();
                var qty = $("#qty").val();
                var vatAmount = $("#vatAmount").val();
                var amount = $("#amount").val();
                var vatAccountId = $("#selectedVatAccount").val();
                var invoiceAccountId = $("#selectedInvoiceAccount").val();

                if (date == '') {
                    toastr.error('Please provide the date of invoice');
                    error = true;
                }

                if (description == '') {
                    toastr.error('Please provide the description of the invoice');
                    error = true;
                }

                if (qty == '') {
                    toastr.error('Please provide the quantity of the product');
                    error = true;
                }

                if (amount == '') {
                    toastr.error('Please provide the Total Invoice Amount');
                    error = true;
                }

                if (vatAmount == '') {
                    toastr.error('Please provide the Invoice Vat Amount');
                    error = true;
                }

                if (vatAccountId == -100) {
                    toastr.error('Please provide the Invoice Vat Account Id');
                    error = true;
                }

                if (invoiceAccountId == -100) {
                    toastr.error('Please provide the Invoice Account');
                    error = true;
                }

                if (error == false) {
                    data.files[0]["safrisoft"] = date.replaceAll('-', '|');
                    data.files[0]["description"] = description;
                    data.files[0]["qty"] = qty;
                    data.files[0]["vatAmount"] = vatAmount;
                    data.files[0]["amout"] = amount;
                    data.files[0]["vatAccountId"] = vatAccountId;
                    data.files[0]["invoiceAccountId"] = invoiceAccountId;
                    console.log(data);
                    data.submit();
                }

            }).on('fileuploadalways', function (e, data) {

                supplierInvoicesDt.ajax.reload();
                var dropZone = $('#dropzone');
                dropZone.removeClass('hover');
                $("#dateEffective").val('');
                $("#qty").val('');
                $("#vatAmount").val('');
                $("#amount").val('');
            });

            $(document).bind('dragover', function (e) {
                var dropZone = $('#dropzone');
                dropZone.addClass('hover');
            });

            $(document).bind('dragleave', function (e) {
                var dropZone = $('#dropzone');
                dropZone.removeClass('hover');
            });

            $(document).bind('drop dragover', function (e) {
                e.preventDefault();
            });
        }

        var supplierInvoicesDt = $("#supplierInvoicesDt").DataTable({
            "responsive": true,
            "autoWidth": false,
            "success": true,
            lengthMenu: [[10, 20, 30, -1], [10, 20, 30, "All"]],
            ajax: {
                url: '/api/Inventory/GetSupplierInvoices/0',
                method: 'GET',
                "dataSrc": "obj"
            },
            'columns': [
                {
                    'data': 'Date',
                    'className': 'buttonWidth',
                    'searchable': true
                },
                {
                    'data': 'FileName',
                    'className': 'filenameWidth',
                    'searchable': true,
                    'render': function (data, type, full, meta) {
                        return '<td id="' + data + '" >' + data + '</td>';
                    }
                },
                {
                    'data': 'Qty',
                    'className': 'buttonWidth',
                    'searchable': true
                },
                {
                    'data': 'VatAmount',
                    'className': 'buttonWidth',
                    'searchable': true,
                    'render': function (data, type, full, meta) {

                        if (type === 'display')
                            return '<a href="#">' + new Intl.NumberFormat('en-ZA', { style: 'currency', currency: 'ZAR' }).format(data) + '</a>';
                        else
                            return data;
                    }
                },
                {
                    'data': 'Amount',
                    'className': 'buttonWidth',
                    'searchable': true,
                    'render': function (data, type, full, meta) {

                        if (type === 'display')
                            return '<a href="#">' + new Intl.NumberFormat('en-ZA', { style: 'currency', currency: 'ZAR' }).format(data) + '</a>';
                        else
                            return data;
                    }
                },
                {
                    'data': 'Id',
                    'className': 'buttonWidth',
                    'render': function (data, type, full, meta) {
                        return '<td class="text-right py-0 align-middle"> <div class="btn-group btn-group-sm"> <a id="' + full.Id + '" class="btn btn-white" href="DownloadFile?Id=' + full.Id + '"><i class="fas fa-download text-info"></i></a> </div> </td>'
                    }
                }
            ]
        });

        function paySupplierModal(id) {
            _supplierId = id;
            $('#paySupplierModal').modal('show');
        }


        function paySupplier() {

            var date = $("#paymentDate").val();
            var description = $("#paymentDescription").val();
            var amount = $("#paymentAmount").val();
            var accountId = $("#selectedPaymentAccount").val();
            var selectedInvoice = $("#selectedPaymentInvoice").val();

            if (date == '') {
                toastr.error('Please provide the date');
                return;
            }

            if (description == '') {
                toastr.error('Please provide the description');
                return;
            }

            if (amount == '') {
                toastr.error('Please provide the amount');
                return;
            }

            if (accountId == '') {
                toastr.error('Please provide the account');
                return;
            }

            var data = {
                Date: date,
                Description: description,
                Amount: amount,
                AccountId: accountId,
                SupplierId: _supplierId,
                SupplierInvoiceId: selectedInvoice
            }

            var url = '/api/Inventory/PaySupplier';

            SafriSoftPostRequest(url, data, (response) => {
                if (response.Success == true) {
                    toastr.success(response.Message);
                    $('#paySupplierModal').modal('hide');
                } else {
                    toastr.error(response.Message);
                }

                suppliersDt.ajax.reload();
            })

        }

        function downloadFile(fileId) {

            if (fileId != "") {
                $.ajax({
                    url: '/Inventory/DownloadFile?Id=' + fileId,
                    method: 'POST',
                    dataType: 'binary',
                    processData: false
                }).done(function (data) {
                    console.log(data);

                });
            }

        }

    </script>
}

